<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.desktop</key>
	<dict>
		<key>locked</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<true/>
		</dict>
		<key>override-picture-path</key>
		<dict>
			<key>state</key>
			<string>always</string>
			<key>value</key>
			<string>/CustomWallpapers/blankblue.jpg</string>
		</dict>
	</dict>
</dict>
</plist>
